.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color: $blue-grey-500;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.notes__content{
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea-input{
    border:none;
    &:focus{
        outline: none;
    }
}
.notes__title-input{
    color:$blue-grey-500;
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 20px;
}

.notes__textarea-input{
    color:$blue-grey-500;
    font-size: 12px;
    height: 100%;
    resize: none;
    padding: 10px;
}

.notes__footer{
    align-items: center;
    color: $blue-grey-200;
    display: flex;
    justify-content:space-between;
}

.notes__images img{
    box-shadow: 5px 5px 10px $blue-grey-500;
    width: 300px;
}
.notes__button-del{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color:$red-500;
    transition: ease .3s ;
    &:hover{
        font-size: 30px;
    }
}

.notes__button-del i{
    box-shadow: 2px 2px 10px $blue-grey-200;
    border-radius: 100px;
}
