$blue-grey: #263238;
$blue-grey-200: #B0BEC5;
$blue-grey-50: #ECEFF1;
$blue-grey-500: #607D8B;
$ligth: #FAFAFA;
$secundary: #B2EBF2;

$red-500: #f44336;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;